In [5]:
## 1. Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

mi_variable1 = 11

print(mi_variable1)

11

In [8]:
## 2. Imprimir el tipo de dato de la constante 8.5

mi_variable2 = 8.5
type(mi_variable2)

float

In [9]:
# 3. Imprimir el tipo de dato de la variable creada en el punto 1
type(mi_variable1)

int

In [11]:
# 4. Crear una variable que contenga tu nombre
mi_variable3 = "Salvador"
print(mi_variable3)

Salvador

In [13]:
# 5. Crear una variable que contenga un número complejo
variable_num_complejo = 6 +6j
print(variable_num_complejo)

(6+6j)

In [14]:
# 6. Mostrar el tipo de dato de la variable creada en el punto 5
type(variable_num_complejo)

complex

In [18]:
# 7. Crear una variable que contenga el valor del número Pi redondeado a 4 decimales
variable_PI = 3.1416
print(variable_PI)

3.1416

In [21]:
# 8. Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

var_true1 = "True"
var_true2 = True
# var_true1 == var_true2

False

In [29]:
# 9. Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8
print(" la variable var_true1 es ", type(var_true1)," mientras que la var_true2 es ", type(var_true2))

 la variable var_true1 es  <class 'str'>  mientras que la var_true2 es  <class 'bool'>

In [32]:
# 10. Asignar a una variable, la suma de un número entero y otro decimal

num_entero = 10
num_decimal = 10.25
suma_num = num_entero + num_decimal
print(suma_num)

20.25

In [37]:
# 11. Realizar una operación de suma de números complejos

num_complejo1 = 2 + 2j
num_complejo2 = 5 + 5j
suma_complejos = num_complejo1 + num_complejo2
print(suma_complejos)

(7+7j)

In [41]:
# 12. Realizar una operación de suma de un número real y otro complejo
num_real = 2
num_complejo1
real_mas_complejo = num_real + num_complejo1
print(real_mas_complejo)

(4+2j)

In [51]:
# 13. Realizar una operación de multiplicación

print(2*5)

10

In [50]:
# 14. Mostrar el resultado de elevar 2 a la octava potencia
 
print(2**8)

256

In [52]:
# 15. Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

div = 27/4
print(div)

6.75

In [53]:
# 16. De la división anterior solamente mostrar la parte entera
print(27//4)

6

In [55]:
# 17. De la división de 27 entre 4 mostrar solamente el resto
27%4

3

In [56]:
# 18. Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado
6*4 + 3

27

In [59]:
#19. Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

nombre1 = "Carlos"
nombre2 = "Salva"
print(nombre1 + " " + nombre2)

Carlos Salva

In [70]:
# 20. Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

dos = "2"
dos2 = 2
print(dos == dos2)

False

In [74]:
# 21. Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

dos2 == int(dos)

True

In [ ]:
# 22. ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

# Los flotantes o decimales van con "." no con ","

In [79]:
# 23. Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

x = 3
x += 2
print(x)

5

In [83]:
# 24. Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

1 << 2

# por el sistema binario en la representacion binaria, al utilizar ete operador la representacion binaria del numero se movera "2" posiciones a la izquierda. "zero time two to the power of 0" "zero times two to the power of 1" "sero times two to the power of 2" + "one time two to the power of 3" .... bla bla bla

2

In [84]:
# 25. Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

2 + '2'

# no se puede porque se esta sumando un entero y un string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [88]:
float(2)+float("2")

4.0

In [87]:
int(2) + int("2")

4

In [89]:
str(2) + str("2")

'22'

In [91]:
# 26. Realizar una operación válida entre valores de tipo entero y string

name = "Salva"
entero = 3
print(name * entero)

SalvaSalvaSalva